/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  
  .close-btn {
    font-size: 20px;
    background: none;
    border: none;
  }
  
  .icons {
    display: flex;
    gap: 15px;
  }
  
  .info-icon,
  .menu-icon {
    font-size: 20px;
  }
  
  /* Recipient Info */
  .recipient-info {
    text-align: center;
  }
  
  .recipient-avatar {
    width: 50px;
    height: 50px;
    background-color: #d32f2f;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .recipient-info h2 {
    margin-top: 10px;
  }
  
  .recipient-info p {
    margin-top: -5px;
  }
  
  /* Amount Input */
  .amount-input {
    display: flex;
    align-items: center;
  }
  
  .currency-symbol {
    font-size: 24px;
  }
  
  .amount-input input {
    border: none;
    font-size: 32px;
  }
  
  /* Add Note */
  .add-note p {
    color: gray;
  }
  
  /* Submit Button */
  .submit-btn {
    background-color: #2962ff; /* Blue color */
    color: white;
    font-size: large;
  }
  