
  
  .main_scanner_container {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10; 
    overflow: hidden;
  }
  .full_screen_video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    /* position: fixed;  */
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .scanner_black_shadow_ {
    /* position :fixed;  */
    top: 0;
    left: 0;
    /* z-index: 11; */
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.699); */
  }

  


