
  
  .main_scanner_container {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10; 
    overflow: hidden;
  }

  .scanner_header{
    position : absolute;

    height: 13vh;
    width: 99vw;
  
    display: flex;
    flex-direction: column;
  
    z-index: 10002;
    top : 0 ;


  }

  .top-nav-bar {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* black background */
    padding: 10px 16px;
    height: 50px;

  }
  
  .nav-right-icons {
    display: flex;
    gap: 30px;
  }

  .scanner_torch_on{
    position: relative;
    background-color: white;
    border-radius: 50%;
    padding : 3px 3px;
    

  }
  
  .nav-icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  



  .full_screen_video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    /* position: fixed;  */
    top: 0;
    left: 0;
    z-index: 10;

  }




  .scanner_black_shadow_up_left {
    position :absolute; 
    top: 0;
    left: 0;
    
    /* z-index: 11; */
    height: 50vh;
    width: 10vw;
    background-color: rgba(0, 0, 0, 0.699);
  }

  
  .scanner_black_shadow_up_middle {
    position :absolute; 
    top: 0;
    left: 10vw;
    
    /* z-index: 11; */
    height: 10vh;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.699);
  }



  .scanner-box {
    position: relative;
    height: 40vh;
    width: 80vw;
    margin: auto;
    background-color: transparent;
  }
  
  .corner {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 6px solid transparent;
   
  }
  
  .top-left {
    top: 1vh;
    left: 3vw;
    border-top-color: #ff6b6b; /* red */
    border-left-color: #ff6b6b;
    border-top-left-radius: 20px;
    
  }
  
  .top-right {
    top: 1vh;
    right: 3vw;
    border-top-color: #ffc107; /* yellow */
    border-right-color: #ffc107;
    border-top-right-radius: 20px;
  }
  
  .bottom-left {
    bottom: 1vh;
    left: 3vw;
    border-bottom-color: #4dabf7; /* blue */
    border-left-color: #4dabf7;
    border-bottom-left-radius: 20px;
  }
  
  .bottom-right {
    bottom: 1vh;
    right: 3vw;
    border-bottom-color: #51cf66; /* green */
    border-right-color: #51cf66;
    border-bottom-right-radius: 20px;
  }
  

  
  .scanner_black_shadow_middle_border {
    position :fixed; 
    top: 10vh;
    left: 10vw;
    
 
    height: 30vh;
    width: 60vw;
    /* background-color: rgba(0, 0, 0, 0.699); */

    color : white;
    font-size: 100px;
  }


  .scanner_black_shadow_up_right {
    position :fixed; 
    top: 0;
    right: 0;
    
    /* z-index: 11; */
    height: 50vh;
    width: 10vw;
    background-color: rgba(0, 0, 0, 0.699);

  }


  .scanner_black_shadow_bottom {
    position :fixed; 
    top: 50vh;
    left: 0;
    
    /* z-index: 11; */
    height: 50vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.699);
  }


/* UploadButton.css */
.scanner_upload_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e5e5e5;
  color: #333;
  border: none;
  border-radius: 9999px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  position: absolute;
  top : 54vh;
  z-index: 10000;
  left : 24vw;
}

.scanner_upload_icon {
  font-size: 20px;
}

.scanner_footer_dash{
  margin-top: 8px;
  margin-bottom: 10px;
  border: 1px solid white;
  background-color: white;
  height: 1px;
  color : white;
  width: 20px;
}

.scanner_footer{
  position : absolute;
  border : 1px solid #303030;
  height: 13vh;
  width: 99vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;

  z-index: 10001;
  bottom : 0 ;
  color : white;
  background-color: #303030;
  border-top-right-radius:8%;
  border-top-left-radius:8%;
}
